body {
  background-color: lightblue;
  font-family: Arial, Helvetica, sans-serif;
}
.main-content,
.completed-tasks {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 50%;
  margin: auto;
  border: 3px dashed black;
}
.comp-task {
  display: flex;
  align-items: center;
}
.task {
  display: flex;
  align-items: center;
}
.tasks input {
  border-style: none;
}
.task:hover {
  background-color: lightblue;
}
i {
  margin: 10px;
}
.fa-times-circle {
  color: red;
  cursor: pointer;
}
.fa-check-circle {
  color: green;
  cursor: pointer;
}
